//Primary Colors
$primary-black: #323232;
$primary-blue: #0095ff;
$primary-silver: #afafaf;
$primary-white: #fff;

//Secondary Colors
$secondary-darkBlack: #000;
$secondary-darkBlue: #0065ad;
$secondary-lightSilver: #e1e1e1;
$secondary-darkWhite: #fafafa;

//Special Cases
$overlay: rgba(0, 0, 0, 0.5);
$error: #d22d2d;
