@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("./assets/fonts/otf/AvenirNextLTPro-Regular.otf") format("opentype"),
    url("./assets/fonts/ttf/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("./assets/fonts/otf/AvenirNextLTPro-Demi.otf") format("opentype"),
    url("./assets/fonts/ttf/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("./assets/fonts/otf/AvenirNextLTPro-Bold.otf") format("opentype"),
    url("./assets/fonts/ttf/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
