.watering-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  z-index: 10;
  background-color: #cee0cf;
  color: #2f4858;
  border-radius: 0.3rem;
  border: 1px solid rgba($color: #000000, $alpha: 0.1);
  box-shadow: 1px 1px 1px 1px rgba($color: #000000, $alpha: 0.1);
  cursor: pointer;
}
